# Climate Features

In [1]:
import pandas as pd
from stpd.utils_geocode import get_lat_lon
from datetime import date

lat, lon = get_lat_lon('Toronto, Canada')
df = pd.DataFrame({
    'lat': lat,
    'lon': lon,
    'date': [date(2020, 1, 1 + i) for i in range(2)],
})
df

         lat        lon        date
0  43.653482 -79.383935  2020-01-01
1  43.653482 -79.383935  2020-01-02

## NOAA

In [2]:
from stpd.weather import NOAA

In [3]:
noaa = NOAA(lat, lon)

In [5]:
noaa.add_features_to_df(df, 'date')

No data available for station_id: CA00615S001 at 2020-01-01
No data available for station_id: CA006158731 at 2020-01-01
No data available for station_id: CA006155750 at 2020-01-01
No data available for station_id: CA006152695 at 2020-01-01
No data available for station_id: CA006155878 at 2020-01-01
No data available for station_id: CA00615S001 at 2020-01-02
No data available for station_id: CA006158731 at 2020-01-02
No data available for station_id: CA006155750 at 2020-01-02
No data available for station_id: CA006152695 at 2020-01-02
No data available for station_id: CA006155878 at 2020-01-02

         lat        lon        date      STATION  TMAX  TMIN   TOBS
0  43.653482 -79.383935  2020-01-01  USC00309690  83.0  -6.0     -6
1  43.653482 -79.383935  2020-01-02  USC00309690  44.0 -11.0     44

## climate.weather.gc.ca

In [6]:
from stpd.weather import ClimateWeatherGC

In [7]:
cwgc = ClimateWeatherGC(lat, lon)

In [8]:
cwgc.add_features_to_df(df, 'date')

,lat,lon,date,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,43.653482,-79.383935,2020-01-01,-79.4,43.67,TORONTO CITY,6158355,2020-01-02,2020,1,...,NaN,None,0.0,None,1.0,None,NaN,M,None,M
1,43.653482,-79.383935,2020-01-02,-79.4,43.67,TORONTO CITY,6158355,2020-01-03,2020,1,...,NaN,None,0.0,None,1.0,None,NaN,M,None,M