# Climate Features

In [1]:
from stpd.utils_geocode import get_lat_lon
from datetime import date

lat, lon = get_lat_lon('Toronto, Canada')
start_date, end_date = date(2000, 1, 1), date(2000, 1, 8)

## NOAA

In [2]:
from stpd.weather import NOAA

In [3]:
noaa = NOAA(lat, lon)

In [4]:
print (noaa.get_historical(start_date, end_date))

       STATION  SNOW   TMAX  TMIN  PRCP  SNWD                        dt
0  CA006158350   0.0   86.0   0.0   0.0   0.0 2000-01-01 00:00:00-05:00
1  CA006158350   0.0  129.0  35.0  18.0   0.0 2000-01-02 00:00:00-05:00
2  CA006158350   0.0   84.0  -3.0  46.0   0.0 2000-01-03 00:00:00-05:00
3  CA006158350   0.0  105.0   6.0   0.0   0.0 2000-01-04 00:00:00-05:00
4  CA006158350   0.0    7.0 -67.0   0.0   0.0 2000-01-05 00:00:00-05:00
5  CA006158350   0.0   32.0 -36.0   0.0   0.0 2000-01-06 00:00:00-05:00
6  CA006158350   2.0   20.0 -14.0   2.0   0.0 2000-01-07 00:00:00-05:00
7  CA006158350   0.0   49.0 -42.0   0.0   0.0 2000-01-08 00:00:00-05:00

## climate.weather.gc.ca

In [5]:
from stpd.weather import ClimateWeatherGC

In [6]:
cwgc = ClimateWeatherGC(lat, lon)

In [7]:
print (cwgc.get_historical(start_date, end_date))

   Longitude (x)  Latitude (y)      Station Name Climate ID   Date/Time  Year  \
0          -79.4         43.63  TORONTO ISLAND A    6158665  2000-01-02  2000
1          -79.4         43.63  TORONTO ISLAND A    6158665  2000-01-03  2000
2          -79.4         43.63  TORONTO ISLAND A    6158665  2000-01-04  2000
3          -79.4         43.63  TORONTO ISLAND A    6158665  2000-01-05  2000
4          -79.4         43.63  TORONTO ISLAND A    6158665  2000-01-06  2000
5          -79.4         43.63  TORONTO ISLAND A    6158665  2000-01-07  2000
6          -79.4         43.63  TORONTO ISLAND A    6158665  2000-01-08  2000
7          -79.4         43.63  TORONTO ISLAND A    6158665  2000-01-09  2000

   Month  Day  Data Quality  Max Temp (Â°C)  ... Total Snow Flag  \
0      1    2           NaN           11.7  ...               M
1      1    3           NaN           11.0  ...               M
2      1    4           NaN            9.6  ...               M
3      1    5           NaN           -1.4  ...               M
4      1    6           NaN            3.3  ...               M
5      1    7           NaN            2.6  ...               M
6      1    8           NaN            4.4  ...               M
7      1    9           NaN            4.5  ...               M

   Total Precip (mm) Total Precip Flag  Snow on Grnd (cm) Snow on Grnd Flag  \
0                1.5               NaN                NaN               NaN
1                3.5               NaN                NaN               NaN
2                0.5               NaN                NaN               NaN
3                NaN                 M                NaN               NaN
4                0.0               NaN                NaN               NaN
5                0.0               NaN                NaN               NaN
6                0.0               NaN                NaN               NaN
7                1.5               NaN                NaN               NaN

   Dir of Max Gust (10s deg) Dir of Max Gust Flag  Spd of Max Gust (km/h)  \
0                       23.0                  NaN                      44
1                        7.0                  NaN                      65
2                       24.0                  NaN                      82
3                        NaN                  NaN                     <31
4                       22.0                  NaN                      56
5                        NaN                  NaN                     <31
6                       22.0                  NaN                      65
7                       23.0                  NaN                      39

  Spd of Max Gust Flag                        dt
0                  NaN 2000-01-01 19:00:00-05:00
1                  NaN 2000-01-02 19:00:00-05:00
2                  NaN 2000-01-03 19:00:00-05:00
3                  NaN 2000-01-04 19:00:00-05:00
4                  NaN 2000-01-05 19:00:00-05:00
5                  NaN 2000-01-06 19:00:00-05:00
6                  NaN 2000-01-07 19:00:00-05:00
7                  NaN 2000-01-08 19:00:00-05:00

[8 rows x 32 columns]

# Location Features

In [8]:
import pandas as pd
from stpd.utils_geocode import add_lat_lon_to_df

df = pd.DataFrame({
    'location_name': ['221B Baker Street, London', 'Shanghai, China', 'Halifax, NS B3J 1M3']
})
df = add_lat_lon_to_df(df, location_name_column='location_name')
df

               location_name   latitude   longitude
0  221B Baker Street, London  51.523388   -0.158237
1            Shanghai, China  31.232276  121.469207
2        Halifax, NS B3J 1M3  44.648618  -63.585949

## OpenStreetMap

In [9]:
from stpd.location import OpenStreetMap

In [10]:
osm = OpenStreetMap()

In [11]:
print (osm.get_features(lat, lon))

   target_lat  target_lon  count_natural=tree  count_natural=water  \
0   43.653482  -79.383935                 719                   15

   count_building=yes  count_building=house  count_amenity=parking  \
0                1151                    39                    148

   count_amenity=restaurant  count_service=driveway
0                       327                      77

In [12]:
osm = OpenStreetMap(feature_names=['natural=tree'])

In [13]:
print (osm.get_features(lat, lon))

   target_lat  target_lon  count_natural=tree
0   43.653482  -79.383935                 719

In [14]:
osm = OpenStreetMap(feature_query_values={'natural=tree': ('node', '"natural"="tree"')})

In [15]:
print (osm.get_features(lat, lon))

   target_lat  target_lon  count_natural=tree
0   43.653482  -79.383935                 719

In [16]:
print (osm.add_features_to_df(df=df, lat_col='latitude', lon_col='longitude'))

               location_name   latitude   longitude  count_natural=tree
0  221B Baker Street, London  51.523388   -0.158237                 783
1            Shanghai, China  31.232276  121.469207                 114
2        Halifax, NS B3J 1M3  44.648618  -63.585949                  48

## SimpleMaps

In [17]:
from stpd.location import SimpleMaps

In [18]:
sm = SimpleMaps()

In [19]:
print (sm.get_features(lat, lon))

   target_lat  target_lon     city city_ascii      lat      lng country iso2  \
0   43.653482  -79.383935  Toronto    Toronto  43.7417 -79.3733  Canada   CA

  iso3 admin_name  capital  population          id  distance
0  CAN    Ontario      NaN   5429524.0  1124279679  9.839032

In [20]:
print (sm.add_features_to_df(df=df, lat_col='latitude', lon_col='longitude'))

               location_name   latitude   longitude     city city_ascii  \
0  221B Baker Street, London  51.523388   -0.158237   London     London
1            Shanghai, China  31.232276  121.469207   Pudong     Pudong
2        Halifax, NS B3J 1M3  44.648618  -63.585949  Halifax    Halifax

       lat       lng         country iso2 iso3       admin_name  capital  \
0  51.5072   -0.1275  United Kingdom   GB  GBR  London, City of  primary
1  31.2231  121.5397           China   CN  CHN         Shanghai    minor
2  44.6475  -63.5906          Canada   CA  CAN      Nova Scotia      NaN

   population          id  distance
0  10979000.0  1826645935  2.792172
1   5187200.0  1156644508  6.792938
2    403131.0  1124130981  0.389333