In [1]:
from datetime import date
from stpd import NOAA, ClimateWeatherGC, OpenStreetMap, SimpleMaps

In [2]:
from OSMPythonTools.nominatim import Nominatim

nominatim = Nominatim()
best_match = nominatim.query('Toronto, Canada').toJSON()[0]
lat, lon = float(best_match['lat']), float(best_match['lon'])
lat, lon

(43.6534817, -79.3839347)

In [3]:
start_date = date(2021, 5, 7)
end_date = date(2021, 5, 9)

# NOAA

In [4]:
noaa = NOAA(lat, lon)

In [5]:
noaa.get_historical(start_date, end_date).tail()

       STATION  SNOW   TMAX   TAVG  TMIN  PRCP  SNWD                        dt
0  CA00615S001   0.0  125.0     88  50.0   0.0   0.0 2021-05-07 00:00:00-04:00
1  CA00615S001   0.0  160.0     80   0.0   0.0   0.0 2021-05-08 00:00:00-04:00
2  CA00615S001   0.0  130.0     70  10.0   0.0   0.0 2021-05-09 00:00:00-04:00

# climate.weather.gc.ca

In [6]:
cwgc = ClimateWeatherGC(lat, lon)

In [7]:
cwgc.get_historical(start_date, end_date).tail()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time (LST),Year,Month,Day,Time (LST),Temp (°C),...,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather,dt
67,-79.4,43.67,TORONTO CITY,6158355,2021-05-09 19:00,2021,5,9,19:00,8.9,...,NaN,NaN,99.79,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-09 19:00:00-04:00
68,-79.4,43.67,TORONTO CITY,6158355,2021-05-09 20:00,2021,5,9,20:00,8.1,...,NaN,NaN,99.84,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-09 20:00:00-04:00
69,-79.4,43.67,TORONTO CITY,6158355,2021-05-09 21:00,2021,5,9,21:00,7.8,...,NaN,NaN,99.90,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-09 21:00:00-04:00
70,-79.4,43.67,TORONTO CITY,6158355,2021-05-09 22:00,2021,5,9,22:00,8.1,...,NaN,NaN,99.96,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-09 22:00:00-04:00
71,-79.4,43.67,TORONTO CITY,6158355,2021-05-09 23:00,2021,5,9,23:00,8.7,...,NaN,NaN,99.92,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-09 23:00:00-04:00

# OpenStreetMap

In [8]:
osm = OpenStreetMap()

In [9]:
osm.get_features(lat, lon)

[overpass] downloading data: [timeout:25][out:json];(node["natural"="tree"](43.644481236610986,-79.39633064821216,43.66248214916196,-79.37153875178784);); out count;

   target_lat  target_lon  count_tree
0   43.653482  -79.383935         719

# SimpleMaps

In [10]:
sm = SimpleMaps()

In [11]:
sm.get_features(lat, lon)

,target_lat,target_lon,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,distance
0,43.653482,-79.383935,Toronto,Toronto,43.7417,-79.3733,Canada,CA,CAN,Ontario,NaN,5429524.0,1124279679,0.088857