In [1]:
from datetime import date
from stpd import OpenWeatherMap, ClimateWeatherGC, SimpleMaps

In [2]:
# Toronto
lat=43.700111
lon=-79.416298
start_date = date(2021, 5, 7)
end_date = date(2021, 5, 9)

# OpenWeatherMap

In [3]:
with open('openweathermap.secret') as f:
    api_key = f.read().strip()

In [4]:
owm = OpenWeatherMap(lat=lat, lon=lon, api_key=api_key)

In [5]:
owm.get_hourly_forecast().tail()

,dt,temp,feels_like,pressure,humidity,dew_point,uvi,clouds,visibility,wind_speed,wind_deg,wind_gust,weather,pop
43,2021-05-12 18:00:00-04:00,12.90,11.24,1026.0,38.0,-0.94,1.11,1.0,10000.0,5.83,325.0,7.72,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0
44,2021-05-12 19:00:00-04:00,12.41,10.86,1026.0,44.0,0.80,0.41,1.0,10000.0,4.92,330.0,7.83,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0
45,2021-05-12 20:00:00-04:00,11.23,9.71,1026.0,50.0,1.37,0.09,1.0,10000.0,4.00,330.0,8.10,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0
46,2021-05-12 21:00:00-04:00,9.94,8.24,1027.0,56.0,1.86,0.00,1.0,10000.0,3.37,321.0,8.40,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0
47,2021-05-12 22:00:00-04:00,9.01,6.94,1028.0,62.0,2.39,0.00,2.0,10000.0,3.69,311.0,9.41,"[{'id': 800, 'main': 'Clear', 'description': '...",0.0

In [6]:
owm.get_historical(start_date, end_date).tail()

,dt,temp,feels_like,pressure,humidity,dew_point,clouds,wind_speed,wind_deg,wind_gust,weather,visibility,rain
55,2021-05-09 15:00:00-04:00,10.96,6.94,1011.0,40.0,-1.86,100.0,2.50,139.0,2.25,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN
56,2021-05-09 16:00:00-04:00,11.31,6.96,1011.0,40.0,-1.58,100.0,3.02,153.0,2.41,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN
57,2021-05-09 17:00:00-04:00,11.46,7.22,1011.0,37.0,-2.40,100.0,2.70,144.0,2.49,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN
58,2021-05-09 18:00:00-04:00,11.43,7.48,1010.0,35.0,-3.08,100.0,2.16,152.0,2.45,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN
59,2021-05-09 19:00:00-04:00,10.80,7.40,1010.0,32.0,-4.63,100.0,1.10,107.0,2.02,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN

# climate.weather.gc.ca

In [7]:
cwgc = ClimateWeatherGC(lat, lon)

In [8]:
cwgc.get_historical(start_date, end_date).tail()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time (LST),Year,Month,Day,Time (LST),Temp (°C),...,Visibility (km),Visibility Flag,Stn Press (kPa),Stn Press Flag,Hmdx,Hmdx Flag,Wind Chill,Wind Chill Flag,Weather,dt
67,-79.4,43.67,TORONTO CITY,6158355,2021-05-09 19:00,2021,5,9,19:00,8.9,...,NaN,NaN,99.79,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-09 19:00:00-04:00
68,-79.4,43.67,TORONTO CITY,6158355,2021-05-09 20:00,2021,5,9,20:00,8.1,...,NaN,NaN,99.84,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-09 20:00:00-04:00
69,-79.4,43.67,TORONTO CITY,6158355,2021-05-09 21:00,2021,5,9,21:00,7.8,...,NaN,NaN,99.90,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-09 21:00:00-04:00
70,-79.4,43.67,TORONTO CITY,6158355,2021-05-09 22:00,2021,5,9,22:00,8.1,...,NaN,NaN,99.96,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-09 22:00:00-04:00
71,-79.4,43.67,TORONTO CITY,6158355,2021-05-09 23:00,2021,5,9,23:00,8.7,...,NaN,NaN,99.92,NaN,NaN,NaN,NaN,NaN,NaN,2021-05-09 23:00:00-04:00

# SimpleMaps

In [9]:
sm = SimpleMaps([lat, lon])

In [10]:
sm.get_features()

,target_lat,target_lon,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,distance
0,43.700111,-79.416298,Toronto,Toronto,43.7417,-79.3733,Canada,CA,CAN,Ontario,NaN,5429524.0,1124279679,0.05982